h2{
    color:gold;
    background-color: aliceblue;
    border-style: dotted double;
    border-color: black;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
}
h1{
    color: brown;
    font-style: italic;
    border: 2px solid red;
    border-radius: 15px 5px;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 130px;
    padding: 20px 80px 25px;
}
#a1{
    color: rgba(16, 219, 60, 0.877);
    border-style: dotted solid double dashed; 
    text-transform: uppercase;
}
.a2,#a1{
    background-color: aqua;
}
.a2{
    border-style: none solid none solid; 
}
body{
    background-image: url(image/backiee-274078-landscape.jpg);
    background-size: 1600px 900px;
    background: #ffffd0 url("image/liberty-walk-f40-1.jpg") no-repeat  right top;
    margin: 50px;
  
}
div{
    width: 33%;
    margin: 2px;
    height: 50px;
    background-color: rgba(142, 142, 85, 0.545); 
}
a{
    text-decoration: none;
}
.d1{
    background-color: rgba(99, 162, 69, 0.975);
}
.a3{
    word-spacing: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.h1{
    font-family: Georgia, serif;
    font-size: 46px;  
    border: none;
    padding:0;
}
.p1{
    text-indent: 50px;
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: 10px;
}
table,th,td{
    border: 1px solid grey;
}
table{
    width: 50%;
    border-collapse: collapse;
    margin: 50px;
}
td,th{
    height: 50px;
    text-align: left;
    vertical-align: bottom;
    padding-left: 20px;
}
th{
    background-color: #0a0a0a;
    color: #f7f1f1;
    text-align: center;
}
li{
    display: inline;
}
span{
    display:block;
}
h3{
    display:none;
}
.h3{
    visibility: hidden;
}
td:hover{background-color: rgba(157, 204, 204, 0.407);}
.main{
    width: 400px;
    height: 300px;
}
.sub{
    width: 200px;
    height: 100px;
}
.sub{
    position: relative;
    top: 100px;
    left: 100px;
}
.sticky{
    border: 2px solid gold;
    background-color: rgb(252, 251, 250);
    height: 20px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
img{
    width: 100%;
    height: auto;
    opacity: 0.6;
}
.main1{
    position: relative;
    width: 100%;
    height: auto;
}
.sub1{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
}
.sub2{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;
}
.sub3{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    vertical-align: bottom;
}
.sub4{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;
    vertical-align: bottom;
}
.sub5{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: #0a0a0a00;
  }